* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f0f0f0;
  min-height: 150vh;
}
.topbar {
  height: 65px;
  width: 95%;
  background-color: #2980b9;
  color: #ffffff;
  margin-inline: 2.5%;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 145px;
  object-fit: cover;
}
.menu ion-icon {
  color: white;
  margin-inline: 20px;
}
.menu ion-icon:hover {
  color: black;
}
h2 {
  text-decoration: underline;
  color: black;
  padding: 5px;
  margin-bottom: 20px;
}
.searchbox {
  margin-inline: 40%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}
input {
  text-align: center;
}
#search-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}
#search-button:hover {
  background-color: #20608b;
}
.results-list {
  margin-top: 20px;
  margin-inline: 10%;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
.card-job {
  display: flex;
  min-width: 100px;
  flex: 0 0 calc(33.33% - 20px);
  gap: 10px;
}
.card-job img {
  width: 80px;
}
.bottombar {
  background-color: #2980b9;
  position: fixed;
  bottom: 0;
  z-index: 999;
  margin-inline: 2.5%;
  width: 95%;
  border-radius: 5px;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
.bottombar-content {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
}
.bottombar-item {
  font-weight: bold;
}
.bottombar-item a {
  text-decoration: none;
  color: #fff;
}
.bottombar-item a:hover {
  text-decoration: underline;
}
#top {
  position: absolute;
  top: 0;
}
